#pt_endpoint_input {
  display: none;
}
.horizontal-list div.form-item {
  display: inline-table;
  margin-right: 18px;
}
.horizontal-list div.form-item label {
  display: inline-table;
  vertical-align: middle;
}
